fn fib_iterative(n) {
    if (n <= 1) { return n; }
    let a = 0;
    let b = 1;
    for _ in 2..=n {
        let t = a + b;
        a = b;
        b = t;
    }
    return b;
}

let iters = 50000;
let n = 30;

let acc = 0;
for _ in 0..iters {
    acc = fib_iterative(n);
}

println("fib(${n}) = ${acc}, iters=${iters}");
